.layout-container {
  margin-top: 60px;
}

.pad_t_20 {
  padding-top:20px;
}

.pad_t_10 {
  padding-top:10px;
}

.champion-container {
  background:#f7f7f7;
  padding:10px;
  border:1px solid black;
  border-radius: 6px;
  box-shadow: 0px 2px 10px 2px grey;
}

.small-profile-img {
	width:100px;
	height:100px;
}

.no-lr-padding {
	padding-left:0px;
	padding-right:0px;
}